* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #FFFFFF;
    --secondary-color: #F5BB00;
    --secondary-color-hover: #F0E130;
    --link-color: #C0C0C0;
    --link-color-hover: #FFFFFF;
}

body {
    font-family: 'Montserrat', sans-serif;
}